.form-check-input:checked {
  background-color: green !important;
  border: green !important;
}

.progress-bar {
  background-color: #56687a !important;
}

.dropdown-toggle {
  background-color: white !important;
  border: none !important;
}

@media screen and (min-width: 992px) {
  .peppa {
    left: 30% !important;
  }
}

.box {
  background: none !important;
  color: #56687a !important;
  &:hover {
    background: lightgrey !important;
  }
}

.post-interation:hover {
  background: lightgrey !important;
  border-radius: 5px !important;
  cursor: pointer;
}
