.form-check-input:checked {
  background-color: green !important;
  border: green !important;
}

.progress-bar {
  background-color: #56687a !important;
}

.dropdown-toggle {
  background-color: white !important;
  border: none !important;
}

.peppa {
  transform: translate(-50%, -100%);
}

.box {
  background: none !important;
  color: #56687a !important;
  &:hover {
    background: lightgrey !important;
  }
}

.post-interation:hover {
  background: lightgrey !important;
  border-radius: 5px !important;
  cursor: pointer;
}
