.form-check-input:checked {
  background-color: green !important;
  border: green !important;
}

.progress-bar {
  background-color: #56687a !important;
}

.dropdown-toggle {
  background-color: white !important;
  border: none !important;
}

@media screen and (min-width: 992px) {
  .peppa {
    left: 30% !important;
  }
}
